.discover {
  width: 100%;
}

.discover-headline {
  margin: 20px;
}

.quotes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.quote {
  min-width: 250px;
  max-width: 250px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #eeeeee;
  padding: 20px;
  text-align: left;
  margin: 0px 10px 20px 10px;
  display: inline-block;
}

.tag-purple {
  border: 1px solid #c58afc;
  border-radius: 3px;
  padding: 1px 3px;
  color: #c58afc;
}

.tag-green {
  border: 1px solid #00d1b2;
  border-radius: 3px;
  padding: 1px 3px;
  color: #00d1b2;
}
