/* For all forms */

input {
  width: 190px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Aleo', serif;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px #eeeeee;
  border: none;
  outline: none;
}

select {
  width: 190px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Aleo', serif;
  box-shadow: 0px 0px 1px #eeeeee;
  border: none;
  outline: none;
  background: #ffffff;
}

textarea {
  height: 75px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Aleo', serif;
  box-shadow: 0px 0px 1px #eeeeee;
  border: none;
  outline: none;
  resize: none;
}

/* Add Quote form */
.add-quote-form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.form-fields {
  text-align: right;
}

.form-field {
  margin-bottom: 30px;
}
.form-field-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-field-label {
  color: #969696;
}

.form-field input {
  margin-left: 20px;
}

.form-field select {
  margin-left: 20px;
}

.form-field textarea {
  width: 185px;
  margin-left: 20px;
}

/* Add Comment form */
.add-comment-textarea {
  width: 240px;
}
@media (min-width: 360px) {
  .add-comment-textarea {
    width: 300px;
    padding: 10px;
  }
}
/* Sign Up / Sign In form */
