@import url('https://fonts.googleapis.com/css?family=Aleo');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Aleo', serif;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Aleo', serif;
}
button:focus {
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #f1f2f2;
  margin: 1em 0;
  padding: 0;
}
