@import url('https://fonts.googleapis.com/css?family=Aleo');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Aleo', serif;
  background-color: #fafafa;
}

p {
  margin-bottom: 5px;
  margin-top: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Aleo', serif;
}
button:focus {
  outline: 0;
}

.button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 10px 4px;
}

.button-balanced-padding {
  padding: 6px 10px;
}

.btn-primary {
  background-color: #00d1b2;
  color: #ffffff;
}
.btn-primary:active {
  background-color: #00c1a4;
}

.btn-secondary {
  background-color: #ffffff;
  color: #00d1b2;
  border: 1px solid #00d1b2;
}
.btn-secondary:active {
  background-color: #00d1b2;
  color: #ffffff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #f1f2f2;
  margin: 1em 0;
  padding: 0;
}

.red-text {
  color: #ff3860;
}
